<div class="container">
  <a href="" class="logotipo">
    <img src="../../../assets/images/navbar/logo.svg" alt="">
  </a>
  <nav>
    <ul>
      <li>
        <img src="../../../assets/images/navbar/cart.svg" alt="Carrinho">
        <a href="">Carrinho</a>
      </li>
      <li>
        <img src="../../../assets/images/navbar/bag.svg" alt="Compras">
        <a href="">Compras</a>
      </li>
      <li (click)="authenticate()" *ngIf="isAuthenticate === false">
        <img src="../../../assets/images/navbar/user.svg" alt="Entrar">
        <a href="">Entrar</a>
      </li>
      <div class="nav-list-item" *ngIf="isAuthenticate === true" mat-icon-button [matMenuTriggerFor]="menu">
        <div class="nav-icon">
          <div class="avatar-default">
            <p style="margin: 0">{{avatarDefault}}</p>
          </div>
          <!-- <img src="https://pps.whatsapp.net/v/t61.24694-24/103198079_185564256145556_4098820761294741391_n.jpg?ccb=11-4&oh=01_AdQOy3eu_NMYdZNAmNLGj6imPP7PF3_IY3Ion_TmbByGHw&oe=64403AB9" alt="" class="avatar"> -->
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <p mat-menu-item (click)="logout()">
          <span>Sair</span>
        </p>
      </mat-menu>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
